.main {
    background: #7db9e8; 
    background: -moz-linear-gradient(top, #e6d7ec 7%, #ffdddb 88%);
    background: -webkit-linear-gradient(top, #e6d7ec 7%,#ffdddb 88%); 
    background: linear-gradient(to bottom, #e6d7ec 7%,#ffdddb 88%);
    padding: 9.25rem 0;
}