// Font Faces
$primary-nav-font-family: "HelveticaNeue-Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-font-family: Helvetica, Arial, "Lucida Grande", sans-serif;

//Colors
$hot-pink: #ec008c;
